
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>CourSeoIt</ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <ion-button id="prflBtn" (click) ="authService.onProfile()">
            <ion-icon src ="../assets/icon/user.png"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card *ngFor = "let item of formations | async">
  <ion-card-header>   
    <ion-card-title>{{item.name}}</ion-card-title>
 </ion-card-header>
   
 <ion-card-content id = "description">
   {{item.description}}  
         <br>
         <p id ="price">{{item.price}} $</p>
         <ion-button  id ="btn" expand ="block" [routerLink]="['/','details',item.id]"
         type ="submit"  >Details</ion-button>
     </ion-card-content>
    </ion-card>
</ion-content>
<!--/*[routerLink]="['/','details',item.title]
  type ="submit"*
(click) = "onViewFormation()"-->