<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id ="principal">
    <div class="About">
      <ion-card><ion-card-header>About Me</ion-card-header><ion-card-content><p>Email, password-reset</p>
      <ion-button slot ="end">More</ion-button></ion-card-content></ion-card>
    </div>
    <div class="Subscriptions">
      <ion-card><ion-card-header>Subscriptions</ion-card-header><ion-card-content><p>Email, password-reset</p>
        <button ion-button icon-end>
          <ion-icon  src ="../assets/icon/user.png"></ion-icon>
        </button></ion-card-content></ion-card>
    </div>
  </div>

</ion-content>
