#logout{
    margin-bottom: 0px;
}
/*.About{

}
.Subscriptions{

}*/
.info{
    p{
        font-size: 16px;

    }
    margin-bottom: 90px;
    margin-top :70px;
}
#title{
    font-size : 25px;
    text-align: center;
}